<!-- Combining property binding and Event binding to achieve Two-way data binding
 
<div class="ekart-product-search-box">
    <input class="ekart-product-search-input" [value]="searchText" (input)="onSearch($event)">
    <button class="btn btn-search">Search</button>
</div>
<div class="ekart-product-search-result-for"><strong>Search result for:</strong>{{searchText}}</div> -->

<!--Two way data binding using [(ngModel)]-->
<div class="ekart-product-search-box">
    <input class="ekart-product-search-input" [(ngModel)]="searchText">
    <button [ngClass]="{'btn':true,'btn-search':searchText}" [disabled]="!searchText">Search</button>
</div>
<div class="ekart-product-search-result-for" *ngIf="searchText !=''"><strong>Search result for:</strong>{{searchText}}</div>